.cover_image {
  background-color: @theme_base_color;
}

.media_box {
  background-color: @theme_base_color;
}

.unplayed {
  color: @theme_selected_bg_color;
}

.black_background {
  background-color: black;
  box-shadow: 0 0 0 black;
  border-style: none;
  margin: 0;
  border-radius: 0;
}


